@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font 
{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared section */

.hide-in-com, .menu-icon-phn, .icon
{
  display: none;
}
.main-header li 
{
  list-style: none;
}
.main-header li a
{
  text-decoration: none;
}

/* header section */
.main-header
{
  margin: 20px auto;
}
.main-header
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1160px;
  width: 100%;
}
.home-a
{
  font-size: 1.25rem;
  font-weight: bold;
  color: #FEA301;
}
.about-a
{
  font-size: 1.25rem;
  font-weight: 500;
  color: #01ACFD;
}
.facilities-a
{
  font-size: 1.25rem;
  font-weight: 500;
  color: #05D4DF; 
}
.admission-a
{
  font-size: 1.25rem;
  font-weight: 500;
  color: #5D58EF;
}
.head-part-one
{
  display: flex;
  gap: 11px;
  align-items: center;
}
.head-part-one img
{
  max-width: 62px;
  max-height: 62px;
}
.head-part-one .head-title
{
  font-size: 2rem;
  font-weight: bold;
}
.head-part-two ul
{
  display: flex;
  gap: 32px;
}
.head-part-three
{
  width: 197px;
  height: 50px;
  background-color: #FEA301;
  color: #FFFFFF;
  font-size: 1.25rem;
  border: none;
  border-radius: 12px;
  font-weight: 600;
}
/* 1st page section */
.page-one-box1
{
  max-width: 640px;
  width: 100%;
}
.hero-kids
{
  /* max-width: 365px; */
  width: 365px;
}
.page-one-title
{
  font-weight: bold;
  font-size: 3.5rem;
  margin-bottom: 0px;
}
.empowering
{
  color: #FEA301;
}
.students
{
  color: #111111;
}
.towards
{
  color: #01ACFD;
}
.page-one-description
{
  margin-top: 24px;
  padding-bottom: 24px;
  color: #111111;
  width: 70%;
}
.page-one-btn
{
  width: 195px;
  height: 50px;
  background-color: #111111;
  color: #FFFFFF;
  border-radius: 12px;
  font-size: 1.25rem;
  font-weight: bold;
}
.page-one-box1
{
  max-width: 1160px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.page-one-box1
{
  margin: 0 auto;
}

@media screen and (max-width:576px)
{
  *{
    margin: 0px;
    padding: 0px;
  }
  .hero-kids
  {
    width: 100%;
  }
  .hide-in-phn
  {
    display: none;
  }
  .menu-icon-phn, .icon
  {
    display: inline-block;
    width: 32px;
  }
  .main-header
  {
    margin: 12 auto;
    
  }
  .border
  {
    border: 1px #FEA301 solid;
  }
  .page-one-box1
  {
    flex-direction: column;
    text-align: center;
  }
  .page-div-p1
  {
    padding: 10px;
  }
  .page-one-description
  {
    width: 100%;
  }
}